.larger {
    font-size: larger;
}

i.icon.icon-button-event::before {
    font-size: 60px;
}

.event-buttons-page {
    padding: 0px;
    //background: green!important;
}

.event-header-button {
    padding: 0;
    height: 60px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 2.5em;
    font-size: 20px;
    font-weight: 700;
    &:hover {
        color: $accent;
        background: $primaryLight;
    }
}

.event-button {
    padding: 30;
    height: 165px;
    margin: 0;
    color: #A5A5A5;
    text-align: center;
    line-height: 2.5em;
    font-size: 20px;
    font-weight: 700;
    &:hover {
        color: #fff;
        background: $primaryLight;
    }
}

.odd {
    background: #D0D0D0;
}

.even {
    background: #D9D9D9;
}
