<ion-view class="no-padding" hide-nav-bar="true" view-title="Events">
    <ion-side-menus>
        <ion-side-menu side="left">
            <ion-content class="side-menu-list">
                <div class="row item-header">
                    <img class="title-image title-image-menu" src="assets/images/logo.png" alt="">
                </div>
                <div class="list">
                    <div class="item item-divider">
                        Event data
                    </div>
                    <a ui-sref="mainStage" class="item item-list item-icon-left">
                        <i class="icon ion-event"></i> Next Events
                    </a>
                    <a ui-sref="plazas" class="item item-list item-icon-left">
                        <i class="icon ion-beer"></i> Plazas
                    </a>
                    <a ui-sref="vendors" class="item item-list item-icon-left">
                        <i class="icon ion-pricetags"></i> Vendors
                    </a>
                    <a ui-sref="map" class="item item-list item-icon-left">
                        <i class="icon ion-ios-location-outline"></i> Map
                    </a>
                    <a ui-sref="faq" class="item item-list item-icon-left">
                        <i class="icon ion-ios-checkmark-outline"></i> FAQ
                    </a>
                    <a ui-sref="contest" class="item item-list item-icon-left">
                        <i class="icon ion-happy-outline"></i> Contest
                    </a>
                    <div class="item item-divider">
                        Community
                    </div>
                    <a ui-sref="donate" class="item item-list item-icon-left">
                        <i class="icon ion-cash"></i> Donate
                    </a>
                    <a ui-sref="media" class="item item-list item-icon-left">
                        <i class="icon ion-pound"></i> Media
                        <span class="item-note">#shinetogether</span>
                    </a>
                    <a ui-sref="sponsors" class="item item-list item-icon-left">
                        <i class="icon ion-android-contacts "></i> Sponsors and Partners
                    </a>
                    <a ui-sref="home" ng-click="event.toggleLeft()" " class="item item-list item-icon-left ">
                    <i class="icon ion-arrow-return-right "></i> Latin Couver Main Menu
                </a>  
                </div>                              
            </ion-content>
        </ion-side-menu>
        <ion-side-menu-content>
            <div class="bar bar-header bar-positive ">
                <button class="button icon ion-navicon " ng-click="event.toggleLeft() "></button>
                <span class="title ">
                  CARNAVAL DEL SOL 
                </span>
            </div>           
            <ion-content class="has-header content " overflow-scroll="false ">
                  <div class="button-bar ">
                    <div class="button col col-25 event-header-button event-active" ui-sref="event ">
                        <div>   
                            <i class="icon ion-home icon-event"></i>
                            MAIN
                        </div>
                    </div>                
                    <div class="button col col-25 event-header-button ">                        
                        <div>                              
                            <img ng-src="assets/images/icons/eat.png ">
                            EAT
                        </div>
                    </div>
                    <div class="button col col-25 event-header-button ">
                        <div>
                            <img ng-src="assets/images/icons/play.png ">
                            PLAY
                        </div>
                    </div>
                    <div class="button col col-25 event-header-button ">
                        <div>
                            <img ng-src="assets/images/icons/live.png ">
                            LIVE
                        </div>
                    </div>
                </div>  
                <div class="event-navigation">   
                    <button class="button button-next" ng-click="event.nextSlide()">
                        <i class="icon ion-chevron-right"></i>
                    </button>                  
                    <button class="button button-prev" ng-click="event.prevSlide()">
                        <i class="icon ion-chevron-left"></i>
                    </button>                     
                </div>                                                                           
                 <ion-slides class="event-slides" options="event.slider.sliderOptions" slider="event.slider.sliderDelegate">                 
                    <ion-slide-page class="event-slide-box" ng-repeat="slide in event.slider.images">
                        <img ng-src="{{slide.image}}">
                    </ion-slide-page>
                </ion-slides>  
                <div class="list event-list">
                    <div class="row">
                        <div class="col col-50">
                            <img src="assets/images/event/carnaval_delsol.jpg">
                            <div class="yellow">
                                <h5>Carnaval del Sol</h5>                             
                            </div>                            
                        </div>
                        <div class="col col-50">
                            <img src="assets/images/event/carnaval_delsol.jpg">
                            <div class="blue">
                                <h5>Carnaval del Sol</h5>                               
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <img src="assets/images/event/expoplaza_latina.jpg">
                            <div class="red">
                                <h5>Carnaval del Sol</h5>            
                            </div>                            
                        </div>           
                        <div class="col col-50">
                            <img src="assets/images/event/expoplaza_latina.jpg">
                            <div class="green">
                                <h5>Carnaval del Sol</h5>                                
                            </div>                            
                        </div>                                                                                
                    </div>                                                                                
                </div>                                                                                
            </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
