.side-menu-list {
    background: $bg-app;
    .item-header {
        background: white;
        color: $bg-app;
        padding: 10px 10px;
        margin: 0px 0;
        .title{
            text-align: right;
            color: $bg-app;
            font-size: 22px;
        }
        .action-links{
            text-align: right;
        }
    }
    img{
        width: 70px;
        height: 70px;
    }
    a {
        border: 1px #f5f5f5 solid;
        background: $bg-app;
        color: $bg-app-inverse;
        &:hover {
            background: lighten($bg-app, 20%);
            //color: darken($bg-app-inverse, 20%);
        }
    }
}
