<ion-view class="no-padding" hide-nav-bar="true" view-title="Events">
    <div class="bar bar-header bar-positive">
        <button ng-click="back()" class="button icon ion-android-arrow-back"></button>
        <button ui-sref="home" class="button icon ion-home"></button>
        <p class="title">            
            {{detail.selected.name}}            
        </p>
    </div>
    <ion-content class="has-header content" overflow-scroll="false">
        <div>
            <img class="full-image" ng-src={{detail.selected.image}}>
        </div>        
        <div ui-view>
            <div class="plaza-content">
                <div class="list">
                    <span ng-bind-html='detail.selected.datetime'></span>
                    <span ng-bind-html='detail.selected.description'></span>
                    <span ng-bind-html='detail.selected.products'></span>
                    <button class="button plaza-map-button button-positive green-flat" ui-sref="map">
                        <i class="ion ion-map"></i>
                        <span class="hash">Map</span>
                    </button>
                </div>
                <!--            
                <div class="list" data-ng-hide="!detail.selected.links.length">
                    <p>More info: </p>

                    <div class="row" ng-repeat="x in detail.selected.links">
                        <div>
                            <div>
                                {{x.name}}: {{x.href}}
                            </div>                            
                        </div>
                    </div>
                </div>
                -->
            </div>                       
        </div>
    </ion-content>
</ion-view>
